[package]
name = "rust-ALB"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.0", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
axum = "0.7.4"
env_logger = "0.11.8"
tracing = "0.1.41"